
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #07575B;
    border: 1px solid white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px #C4DFE6
}

.value {
    height: 100px;
    width: 250px;
    margin: 15px 10px 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #66A5AD;
    box-shadow: 0px 1px 5px 2px #C4DFE6;
    color: white;
}

.warning {
    text-align: center;
}

h1 {
    text-align: center;
}

.redNumber {
    margin-bottom: 10px;
    color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 250px;
    height: 60px;
    border: 1px solid #C4DFE6;
    background-color: #66A5AD;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 2px #C4DFE6
}

.btn {

}
